body{
	margin: 0;
}

#palette {
	position: fixed;
	left: 10px;
	top: 10px;
	width: 35px;
	padding: 10px;
	width: 125px;
	text-align: center;
	border-radius: 10px;
	background-color: #505050;
}

#tools, #colors  {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tools{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px  solid #fff;
}

#tools li, #colors li {
	display: inline-block;
	width: 36px;
	height: 36px;
	padding: 7px;
	margin: 2px;
	border: 1px solid #666;
	cursor: pointer;
	border-radius: 100%;
}

#tools li{
	background-image: url(../images/brush.png);
	background-color: #eee;
	background-size: 100%;
}

#colors li{
	background-color: red;
}

#tools li:hover, #colors  li:hover{
	border: 1.9px solid #000;
}

.selected_color{
	border: 2px solid white!important;
	padding: 10px!important;
}

.selected_tool{
	border: 2px solid white!important;
	padding: 10px!important;
}